@*<table class="table">
    @foreach (var users in ViewBag.users)
    {
    <tr>
        <td>@users.Id</td>
        <td>@users.Name</td>
        <td>@users.Account</td>
        <td>@users.Password</td>
    </tr>
    }
</table>*@